<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body style="background-image: url('../img/achtergrond.png')">
<img class="uitlegPageMainImg" src="../img/afbeeldingHoofdstuk2.png" alt="Afbeelding ter illustratie">
<div class="uitlegPageText">
    <h1 class="voorlezer">Ik ben <br> Manon de Leeuw</h1>
    <h2 class="hetHoofdstuk">En lees het hoofdstuk</h2>
    <img class="blackArrow" src="../img/zwartePijl.png" alt="Een verwijzende pijl">
    <h3 class="hoofdstukTitle">Jonas en Rosa</h3>
</div>
<div class="pictureFrame">
    <img class="fotoLijst" src="../img/pictureFrame.png" alt="Fotolijst">
    <img class="fotoStudent" src="../img/fotoStudent.png" alt="Foto van voorlezer">
</div>

<div class="mediaPlayer">
    <audio controls>
        <source src="../audio/Melissa_Nahumury_H.Vertrek_blz.12t-m15.m4a" type="audio/mpeg">
    </audio>
</div>


<div id="nav-icon4" onclick="hamburger()">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="arrowNext">
    <a href=""><img class="nextArrow arrow" src="../img/rozePijl.png" alt="Volgend hoofdstuk"></a>
</div>
<div class="arrowPrevious">
    <a href=""><img class="prevArrow arrow" src="../img/rozePijl.png" alt="Volgend hoofdstuk"></a>
</div>

<img src="../img/blackBg.jpg" class="overlay">

<div class="kiesHoofdstuk">
    <img class="uitlegArrow1" src="../img/wittePijl.png" alt="">
    <p class="uitlegText">Kies een hoofdstuk</p>
</div>

<div class="gaVerder">
    <p class="uitlegTextVerder">Ga verder</p>
    <img class="uitlegArrow2" src="../img/wittePijl.png" alt="">
</div>

<div class="gaTerug">
    <p class="uitlegText">Ga terug</p>
    <img class="uitlegArrow3" src="../img/wittePijl.png" alt="">
</div>

<div class="playStop">
    <p class="uitlegText">Play/Stop</p>
    <img class="uitlegArrow4" src="../img/wittePijl.png" alt="">
</div>
<script></script>
<script src="../javascript/hamburger.js"></script>
<script src="../javascript/changePage.js"></script>
</body>
</html>